<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peluquería</title>
    <link rel="icon" type="image/x-icon" th:href="@{../img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="index-page">
<header th:replace="fragments/header :: header"></header>

<main class="container d-flex flex-column justify-content-center align-items-center mt-4" style="min-height: 60vh;">
    <h1 class="mb-3 display-4 text-center">Bienvenido a Mi Peluquería</h1>
    <p class="lead text-center">
        Para disfrutar de una experiencia única, te invitamos a
        <a href="/register" class="fw-bold text-white" role="link" aria-label="Registrarse en Mi Peluquería" sec:authorize="!isAuthenticated()">registrarte</a> o
        <a href="/login" class="fw-bold text-white" role="link" aria-label="Iniciar sesión en Mi Peluquería" sec:authorize="!isAuthenticated()">iniciar sesión</a> y así poder reservar tu cita con nosotros.
    </p>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>